$color_1: white;
$background-color_1: #ff3f6c;
$background-color_2: #df2752;
$background-color_3: #ff3f6c;
$background-color_4: #f1f1f1;

/* Navbar button styling */
/* Styles for the size selection btn */
.card-btn {
    border-radius: 5px;
    border-style: none;
    background-color: $background-color_1;
    color: $color_1;
    margin-left: 15px;
    height: 2.5rem;
    z-index: 99999;

    &:hover {
        background-color: $background-color_2;
    }
}

.btn {
    background-color: $background-color_1;
    color: $color_1;

    &:hover {
        background-color: $background-color_2;
    }
}

.card-btn-1 {
    width: 8rem;
}

.size-button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $background-color_4;
    }
}

.size-button.selected {
    background-color: $background-color_3;
    color: $color_1;
}

.btn-1,
.btn-2 {
    background-color: #ff3f6c;
    color: $color_1;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 35px;
    width: 110px;

    &:hover {
        background-color: $background-color_2;
    }
}