* {
    margin: 0;
    padding: 0;
  }
  $width-button: 40%;
  $margin-button: 5px;
  $padding-button: 8px;
  $border-button: none;
  $border-radius-button: 8px;
  $font-weight-button: bold;
  $font-size-button: medium;
  $cursor-button: pointer;
  $display-button: block;
  
  .button {
    width: $width-button;
    margin: $margin-button;
    padding: $padding-button;
    border: $border-button;
    border-radius: $border-radius-button;
    font-weight: $font-weight-button;
    font-size: $font-size-button;
    cursor: $cursor-button;
    display: $display-button;
  }
  