.clothing-page {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  /* margin-left: 10px; */
  /* margin-right: -20rem; */
  /* align-items: center; */
}
.card-container {
  margin-left: 63px;
}
.card {
  margin: 0 100px -80px -110px;
  /* width: 15rem; */
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
}

.btn-secondary {
  margin-left: 10px;
}

.filter-class {
  width: 250px;
  margin-left: 2px;
}

.row {
  gap: 7rem;
}
