.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff; 
  border-bottom: 1px solid #ccc; 
}

.brand-logo {
  width: 50px; 
  height: auto;
}

.navbar-menu-list,
.navbar-actions-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-menu-item,
.navbar-actions-item {
  margin: 0 10px;
  cursor: pointer;
}

.navbar-menu-item:first-child {
  margin-left: 0;
}

.navbar-actions-item:last-child {
  margin-right: 0;
}

.navbar-menu {
  flex: 1;
}

.navbar-menu-item {
  margin-right: 20px;
}
