$canvasTop: 0;
$canvasLeft: 0;
$navbarZIndex: 1000;
$navbarWidth: 100%;
$navbarMarginLeft: -22rem;
$navbarPadding: 10px 20px;
$navbarBackgroundColor: #62aae4;
$navbarHeight: 65px;
$brandLogoWidth: 60px;
$brandLogoHeight: 50px;
$navbarFontColor: #d5768c;
$navbarFontWeight: bold;
$navbarHoverColor: #df2752;

body {
    margin: 0;
    padding: 0;
}

#canvas {
    top: $canvasTop;
    left: $canvasLeft;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
}

.navbar {
    position: fixed;
    z-index: $navbarZIndex;
    top: 0;
    width: $navbarWidth;
    margin-left: $navbarMarginLeft;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $navbarPadding;
    background-color: $navbarBackgroundColor;
    height: $navbarHeight;
}

.brand-logo {
    width: $brandLogoWidth;
    height: $brandLogoHeight;
    z-index: 99999;
}

.navbar-menu,
.navbar-menu-list,
.navbar-actions-list {
    flex: 1;
    display: flex;
    z-index: 99999;
}

.navbar-menu-list,
.navbar-actions-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: large;
    color: $navbarFontColor;
    font-weight: $navbarFontWeight;
    z-index: 99999;
}

.navbar-menu-item:hover {
    color: $navbarHoverColor;
}

.navbar-menu-item,
.navbar-actions-item {
    margin: 0 20px;
    cursor: pointer;
}