.btn-container{
  display: flex;
  justify-content: center;
  // width:10px;
  // margin-top: 10px;
}

.btn {
    border: none;
    border-radius: 4px;
    background-color:#92d3f1;
    color:black;
    font-weight: bold;
    margin-top:10px;
    // padding: 0.75rem 1rem;
    padding: 0.9rem 1.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color:#045a82;;
    }
  }